.n1
{
	background-color: #3B5998;
}
.inp
{
	margin: 20px 20px 20px 50px;
}
.bt
{
 background-color: #3B5998;
}
input[type=email], select {
    width: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.button {
    background-color: #627aac; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button : hover
{
	background-color: #3b5998;
}


